// Tests stylesheet.
// Have your fun around here
//
//
body{
  background-color: #dedede;
  margin-left: 2em;
  //margin-right: 10%;  
}

.grid {
    margin: 0em;
}

nav a {
    padding: 5px 10px; //1em 4em
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;

    &:visited, &:link {
        color: #607D8B;
    }

    &:hover {
        color: #039be5;
        background-color: #CFD8DC;
    }

    .router-link-active {
        color: #039be5;
    }

}

//css for carousel 
//styles: [` 
.wrapper {
width: 60%;
margin: 60px auto;
} 
//`],


//<!--<nav>-->
//
//<!--<div class="grid grid-pad" class="col-1-4">-->
//<!--<div class="container">-->
//<!--<div id="nav-bar">-->
//<!--<ul id="menu">-->
//<!--<li id="Home">Home-->
//<!--&lt;!&ndash;<a title="Home" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true"&ndash;&gt;-->
//<!--&lt;!&ndash;"Home"</a>&ndash;&gt;-->
//<!--</li>-->
//<!--<li id="Public Events">Public Events-->
//
//<!--</li>-->
//<!--<li id="Private Events">Private Events-->
//
//<!--</li>-->
//<!--<li id="About">About-->
//
//<!--</li>-->
//<!--<li id="Pricing">Pricing-->
//
//<!--</li>-->
//<!--</ul>-->
//<!--</div>-->
//<!--</div>-->
//<!--</div>-->
//<!--</nav>-->
